<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>runDestinationsByUUID</key>
	<dict>
		<key>57C52FA6-4F26-4E9E-B7E1-EB409FA0BF17</key>
		<dict>
			<key>targetArchitecture</key>
			<string>arm64</string>
			<key>targetDevice</key>
			<dict>
				<key>modelCode</key>
				<string>iPhone10,3</string>
				<key>platformIdentifier</key>
				<string>&lt;unknown&gt;</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
